@use "../abstracts/variables" as *;
// 🔹 Header
header {
    background-color: $color-bg-body;
    -webkit-box-shadow: -3px 13px 40px -28px rgba(66, 68, 90, 1);
    -moz-box-shadow: -3px 13px 40px -28px rgba(66, 68, 90, 1);
    box-shadow: $menubar-box-shadow;
    width: 100%;
    height: fit-content;
}