@use "../abstracts/variables" as *;
@use "../abstracts/placeholders";
@use "../abstracts/mixins";
// ✍️ Typografia globalna
body {
    font-size: $font-size-base;
    color: $color-secondary;
    font-family:
        "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif,
        sans-serif;
}
