
// 🔹 Zmienne globalne

$color-bg-body: #f7f7f7;
$color-text-base: #000;
$color-text-hover: rgb(30, 30, 240);
$color-border-divider: #e3e6f0;

$font-size-base: 12px;
$font-size-icon: 24px;
$font-size-badge: 8px;

$navbar-height: 72px;
$navbar-padding-x: 50px;

$logo-height-desktop: 40px;
$logo-height-mobile: 32px;
$logo-max-width: 120px;

$gap-row: 15px;
$gap-column: 0;
$gap-icon: 10px;
